* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #EDDBC0;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    box-shadow: inset 0 0 4px #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario {
    justify-content: center;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
}

.formular-div1,
.formular-div2 {
    width: 278px;
}

.formular-div1 {
    float: left;
}

.formular-div2 {
    float: left;
    margin-left: 6%;
}

.formulario-text {
    font-size: 20px;
    font-weight: bold;
}

.formulario-text2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 3.2%;
}

.formulario-inputs {
    background-color: rgb(248, 245, 238);
    font-size: 12px;
    margin-top: 5px;
    width: 200px;
    height: 30px;
    margin-bottom: 60px;
    font-weight: bold;
    margin-left: 5%;
    padding-left: 5px;
    transition: all 1s ease;
    border-radius: 12px
}

.formulario-inputs:focus {
    width: 220px;
    background-color: white;
}

.formulario-inputs2 {
    font-size: 15px;
    margin-top: 10px;
    width: 298px;
    height: 30px;
    margin-bottom: 60px;
    font-weight: bold;
    margin-left: 4.4%;
    margin-bottom: 17%;
    border-radius: 10px;
    padding-left: 10px;
    vertical-align: 10px;
}

.checkbox-text {
    margin-left: 10px;
    font-size: 15px;
    vertical-align: 4px;
}

.form-enviar {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 240px;
    height: 50px;
    transition: all ease 1s;
}

.form-enviar:hover {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 240px;
    height: 50px;
    transition: all ease 1s;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.form-enviar:hover {
    margin-left: 1%;
    pointer-events: auto;
    box-shadow: inset 300px 0 0 0 #ffffff;
}

input[type="checkbox"] {
    height: 22px;
    width: 22px;
    display: inline-block;
    appearance: none;
    position: relative;
    background-color: #F2ECFF;
    border-radius: 15%;
    cursor: pointer;
    overflow: hidden;
}

input[type="checkbox"]::after {
    content: '';
    height: 0.87em;
    width: .2rem;
    border-bottom: .27rem solid #a0ffe7;
    border-right: .27rem solid #a0ffe7;
    opacity: 0;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 21%;
    transition: .25s ease;
}

input[type="checkbox"]::before {
    content: '';
    height: 0;
    width: 0;
    background-color: #00C896;
    border-radius: 50%;
    opacity: .5;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .3s ease;
}

input[type="checkbox"]:checked::before {
    height: 130%;
    width: 130%;
    opacity: 100%;
}

input[type="checkbox"]:checked::after {
    opacity: 100%;
}